<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <style>
        #blog_body {
            width: 85%;
        }
    </style>
</head>

<body>


    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('send_blog_post') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="blog_title" name="blog_title" class="autocomplete">
                    <label for="blog_title">Title of blog...</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea type="text" id="blog_body" name="blog_body" class="materialize-textarea"></textarea>
                    <label for="blog_body">Body of post...</label>
                </div>
            </div>
                <button class="btn waves-effect waves-light" type="submit">Post
                </button>

        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>